
<div class="col-md-6 col-lg-3">
    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Haberler</h2>
        <p>Bizden haber almak için email adresinizi girin.</p>
        <form action="#" class="subscribe-form">
            <div class="form-group">
                <input type="text" class="form-control mb-2 text-center" placeholder="Email adresinizi girin">
                <input type="submit" value="Kaydol" class="form-control submit px-3">
            </div>
        </form>
    </div>
</div>