
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Profil Bilgileri</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">Profilim</li>
            <li class="breadcrumb-item active" aria-current="page">Şifre Değiştir</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Ürünler</h6>
                </div>
                <h4>Kullanıcı Adınız: @ViewBag.v</h4>
                <div class="card-footer"></div>
            </div>
            <br />
            <a href="/Profile/UpdatePassword/" class="btn btn-primary">Şifre Değiştir</a>
        </div>
    </div>

</div>
