@model List<TasteFoodIt.Entities.About>

@{
    ViewBag.Title = "About";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Hakkımızda</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">Hakkımızda</li>
            <li class="breadcrumb-item active" aria-current="page">Hakkımda İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Kategoriler</h6>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Hakkımda Id</th>
                                <th>Hakkımda Başlık</th>
                                <th>Hakkımda Açıklama</th>
                                <th>Hakkımda Resim Url</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td>@Model[0].AboutId</td>
                                    <td>@Model[0].Title</td>
                                    <td>@Model[0].Description</td>
                                    <td>@Model[0].ImageUrl</td>
                                    <td><a href="/AdminAbout/UpdateAbout/@Model[0].AboutId" class="btn btn-success">Güncelle</a></td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <!--Row-->

</div>
