@model List<TasteFoodIt.Entities.SliderInfo>

@{
    ViewBag.Title = "SliderInfoList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Slider Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">Slider</li>
            <li class="breadcrumb-item active" aria-current="page">Slider İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Slider</h6>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Slider Id</th>
                                <th>Başlık</th>
                                <th>Bilgi</th>
                                <th>Resim</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.SliderInfoId</td>
                                    <td>@item.Title</td>
                                    <td>@item.Info</td>
                                    <td>@item.ImageUrl</td>
                                    <td><a href="/SliderInfo/DeleteSliderInfo/@item.SliderInfoId" class="btn btn-danger">Slider Sil</a>
                                    <td><a href="/SliderInfo/UpdateSliderInfo/@item.SliderInfoId" class="btn btn-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @if (ViewBag.v < 3)
                    {
                <a href="/SliderInfo/CreateSliderInfo/" class="btn btn-primary">Yeni Slider Girişi</a>
                    }
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <!--Row-->

</div>

