@model List<TasteFoodIt.Entities.OpenDayHour>

@{
    ViewBag.Title = "OpenDayHoursList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Günler Listesi</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Ana Sayfa</a></li>
            <li class="breadcrumb-item">Günler</li>
            <li class="breadcrumb-item active" aria-current="page">Günler İşlemleri</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-12 mb-4">
            <!-- Simple Tables -->
            <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Günler</h6>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Gün</th>
                                <th>Saat Aralığı</th>
                                <th>Sil</th>
                                <th>Güncelle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.OpenDayHourId</td>
                                    <td>@item.DayName</td>
                                    <td>@item.OpenHourRange</td>
                                    <td><a href="/OpenDayHours/DeleteOpenDayHour/@item.OpenDayHourId" class="btn btn-danger">Sil</a>
                                    <td><a href="/OpenDayHours/UpdateOpenDayHour/@item.OpenDayHourId" class="btn btn-success">Güncelle</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/OpenDayHours/CreateOpenDayHours/" class="btn btn-primary">Yeni Gün Giriş</a>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
    <!--Row-->

</div>
