
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
            <img src="~/Templates/ruang-admin/img/logo/logo2.png">
        </div>
        <div class="sidebar-brand-text mx-3">TasteFood Admin</div>
    </a>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/Dashboard/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item">
        <a class="nav-link" href="/Profile/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Profil</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Category/CategoryList">
            <i class="fas fa-fw fa-car-alt"></i>
            <span>Kategoriler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Product/ProductList">
            <i class="fas fa-fw fa-tractor"></i>
            <span>Ürünler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Notification/NotificationList">
            <i class="fas fa-fw fa-moon"></i>
            <span>Bildirimler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminAbout/About">
            <i class="fas fa-fw fa-allergies"></i>
            <span>Hakkımızda</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Location/LocationList">
            <i class="fas fa-fw fa-ambulance"></i>
            <span>Konumlar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/SliderInfo/SliderInfoList">
            <i class="fas fa-fw fa-football-ball"></i>
            <span>Slider</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/AdminAddress/AddressList">
            <i class="fas fa-fw fa-phone"></i>
            <span>Adres Bilgileri</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Chef/ChefList">
            <i class="fas fa-fw fa-cheese"></i>
            <span>Şefler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Contact/ContactList">
            <i class="fas fa-fw fa-pen"></i>
            <span>Mesajlar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Testimonial/Testimonial">
            <i class="fas fa-fw fa-people-carry"></i>
            <span>Referanslar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/OpenDayHours/OpenDayHoursList">
            <i class="fas fa-fw fa-clock"></i>
            <span>Açık Günler</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Reservation/ReservationList">
            <i class="fas fa-fw fa-table"></i>
            <span>Rezervasyonlar</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Login/Index">
            <i class="fas fa-fw fa-allergies"></i>
            <span>Çıkış Yap</span>
        </a>
    </li>
</ul>
