@model List<TasteFoodIt.Entities.Contact>

<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-envelope fa-fw"></i>
        <span class="badge badge-warning badge-counter">@ViewBag.messageIsReadFalseCount</span>
    </a>
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
         aria-labelledby="messagesDropdown">
        <h6 class="dropdown-header">
            Mesaj Merkezi
        </h6>
        @foreach (var item in Model)
        {
            <a class="dropdown-item d-flex align-items-center" href="/AdminLayout/MessageStatusChangeToTrue/@item.ContactId">
                <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="/Templates/ruang-admin/img/man.png" style="max-width: 60px" alt="">
                    <div class="status-indicator bg-success"></div>
                </div>
                <div class="font-weight-bold">
                    <div class="text-truncate">
                        @item.Message
                    </div>
                    <div class="small text-gray-500">@item.NameSurname · @item.SendDate</div>
                </div>
            </a>
        }
        <a class="dropdown-item text-center small text-gray-500" href="/Contact/ContactList">Daha Fazla Mesaj</a>
    </div>
</li>